body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: #066163;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  text-align: center;
}

.header-container {
  background: #383838;
  height: 100px;
  color: #cdbe78;
  display: flex;
  justify-content: center;
  /* text-shadow: -2px 2px #161616; */
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.header-container span {
  text-decoration: underline;
  /* color: #066163; */
}

nav {
  background: #cdbe78;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4px 8px 8px 0;
}

nav > a {
  padding: 0 10px;
  color: #383838;
  text-decoration: none;
  transition: 0.5s ease;
}

nav a::after {
  content: '';
  width: 0;
  height: 2px;
  background: #383838;
  display: block;
  transition: 0.5s ease;
}

nav a:hover::after {
  width: 100%;
  cursor: pointer;
}

nav > a:hover {
  transform: scale(1.2);
}

form {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-right: 50px;
  padding-top: 10px;
}

.input-entry input,
select {
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  border: 1px solid #161616;
}

.add-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px;
  border-radius: 10px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 10px;
}

.add-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .add-button {
    padding: 0.25em 0.75em;
  }
}

.list-container h3 {
  border: 2px solid #066163;
  border-radius: 10px 5px 10px 5px;
  background: #383838;
  text-align: center;
  color: #fff;

  grid-row: 1 / 2;
  /* width: 100px; */
}

.list-container {
  border: 3px solid #cdbe78;
  background: #f2f2f2;

  width: 90%;
  margin: 15px auto;
}

.list-contents {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  gap: 20px;
  width: 90%;
}

.input-list {
  height: auto;
  padding: 10px;
  border: solid 4px;
  border-image-source: linear-gradient(to bottom right, #066163, #cdbe78);
  border-image-slice: 4;
  list-style-type: none;
}

.input-list-item {
  width: 100%;
}

.list-item-container li {
  border: 2px solid blue;
  display: flex;
  padding: 10px;
  align-items: center;
  max-width: 100%;
  justify-content: space-evenly;
  word-break: break-all;
}

.streaming-service {
  font-size: 12px;
  margin-left: 10px;
}

.toggled-list {
  border: 2px solid red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  background: #f2f2f2;
  width: 90%;
  margin: auto;
}

.completed-list {
  text-decoration: line-through;
}

/* .movie-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */

.movie-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.movie-details {
  /* border: 2px solid #161616;
  height: 100%;
  width: 100%; */
}

.movie-poster {
  width: 100%;
}

.movie-title {
  text-align: left;
  margin-left: 10px;
}

.movie-rating {
  font-size: 12px;
  margin-left: 10px;
}

.movie-overview {
  font-size: 14px;
  width: 90%;
  margin-left: 10px;
}

.movie-card {
  border: 2px solid #383838;
}
