body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: #066163;
  max-width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  text-align: center;
}

.header-container {
  background: #383838;
  height: 100px;
  color: #cdbe78;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.header-container span {
  text-decoration: underline;
}

nav {
  background: #cdbe78;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4px 8px 8px 0;
}

nav > a {
  padding: 0 10px;
  color: #282828;
  text-decoration: none;
  transition: 0.5s ease;
}

nav a::after {
  content: '';
  width: 0;
  height: 2px;
  background: #383838;
  display: block;
  transition: 0.5s ease;
}

nav a:hover::after {
  width: 100%;
  cursor: pointer;
}

nav > a:hover {
  transform: scale(1.2);
}

form {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: 50px;
  padding-top: 30px;
}

.input-entry input,
select {
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  border: 1px solid #161616;
}

.list-container h3 {
  border: 2px solid #cdbe78;
  border-radius: 10px 5px 10px 5px;
  background: #383838;
  text-align: center;
  color: #cdbe78;
  text-transform: uppercase;
}

.list-container {
  border-radius: 7px;
  background: #f2f2f2;

  width: 90%;
  margin: 15px auto;
}

.list-contents {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  gap: 20px;
  width: 90%;
}

.input-list {
  margin: auto;
  padding: 10px;
  list-style-type: none;
}

.input-list-item {
  width: 100%;
}

.list-item-container li {
  border: 2px solid #066163;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  max-width: 100%;
  justify-content: space-evenly;
  word-break: break-all;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.streaming-service {
  font-size: 12px;
  padding: 3px 0;
}

.toggled-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  background: #f2f2f2;
  width: 80%;
  margin: 20px auto;
}

.toggled-list-container {
  border: none;
}

.movie-list-container {
  position: relative;
  min-height: 100vh;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 100vh;
}

.movie-poster {
  width: 100%;
}

.movie-title {
  text-align: left;
  margin-left: 10px;
}

.movie-rating,
.release-date {
  font-size: 12px;
  margin-left: 10px;
}

.movie-overview {
  font-size: 14px;
  width: 90%;
  margin-left: 10px;
}

.movie-card {
  border: 2px solid #383838;
}

.add-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 32px;
  min-width: 40px;
  min-height: 28px;
  border: none;
  background-color: #e2d185;
  border: 1.5px solid #066163;
  color: #303030;
  transition: background-color 0.17s ease, color 0.17s ease;
  font-family: 'Poppins', sans-serif;
}

.list-icons:hover,
.add-button:hover {
  cursor: pointer;
}

.add-button:hover {
  color: #cdbe78;
  background-color: #6a6a6a;
}

.empty-list h2 {
  text-align: center;
}

.input-text {
  font-weight: 600;
}

.button-container button {
  margin: 0 2px;
  color: #e2d185;
  border: none;
  background: #383838;
  padding: 6px;
  border-radius: 4px;
}

.button-container button:hover {
  color: #6a6a6a;
  background: #e2d185;
}

.w-6 {
  width: 1.5em;
}
.h-6 {
  height: 1.5em;
}

.footer {
  position: fixed;
  height: 25px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #383838;
  color: #e2d185;
  text-align: center;
  padding: 3px;
  font-size: 12px;
  margin-top: 30px;
}

@media (max-width: 767px) {
  form {
    font-size: 14px;
  }

  select,
  input {
    width: 25%;
  }

  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .list-contents {
    grid-template-columns: repeat(1, 1fr);
  }

  .button-container button {
    font-size: 20px;
    margin: 0 6px;
  }
}
