body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: #066163;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  text-align: center;
}

.header-container {
  background: #383838;
  height: 100px;
  color: #cdbe78;
  display: flex;
  justify-content: center;
  /* text-shadow: -2px 2px #161616; */
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.header-container span {
  text-decoration: underline;
  /* color: #066163; */
}

nav {
  background: #cdbe78;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4px 8px 8px 0;
}

nav > a {
  padding: 0 10px;
  color: #282828;
  text-decoration: none;
  transition: 0.5s ease;
}

nav a::after {
  content: '';
  width: 0;
  height: 2px;
  background: #383838;
  display: block;
  transition: 0.5s ease;
}

nav a:hover::after {
  width: 100%;
  cursor: pointer;
}

nav > a:hover {
  transform: scale(1.2);
}

form {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-right: 50px;
  padding-top: 10px;
}

.input-entry input,
select {
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  border: 1px solid #161616;
}

.list-container h3 {
  border: 2px solid #066163;
  border-radius: 10px 5px 10px 5px;
  background: #383838;
  text-align: center;
  color: #fff;

  grid-row: 1 / 2;
  /* width: 100px; */
}

.list-container {
  border: 3px solid #383838;
  border-radius: 10px;
  background: #f2f2f2;

  width: 90%;
  margin: 15px auto;
}

.list-contents {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  gap: 20px;
  width: 90%;
}

.input-list {
  height: auto;
  padding: 10px;
  /* border: solid 4px;
  border-image-source: linear-gradient(to bottom right, #066163, #cdbe78);
  border-image-slice: 4; */
  list-style-type: none;
}

.input-list-item {
  width: 100%;
}

.list-item-container li {
  border: 2px solid #cdbe78;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  align-items: center;
  max-width: 100%;
  justify-content: space-evenly;
  word-break: break-all;
  margin: 2.5px 0;
}

.streaming-service {
  font-size: 12px;
  margin-left: 10px;
}

.toggled-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  background: #f2f2f2;
  width: 80%;
  margin: 20px auto;
}

.toggled-list-container {
  border: none;
}

.completed-list {
  text-decoration: line-through;
}

/* .movie-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */

.movie-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.movie-details {
  /* border: 2px solid #161616;
  height: 100%;
  width: 100%; */
}

.movie-poster {
  width: 100%;
}

.movie-title {
  text-align: left;
  margin-left: 10px;
}

.movie-rating {
  font-size: 12px;
  margin-left: 10px;
}

.movie-overview {
  font-size: 14px;
  width: 90%;
  margin-left: 10px;
}

.movie-card {
  border: 2px solid #383838;
}

.add-button {
  /* border-radius: 10px;
  background: #303030;
  color: #cdbe78;
  width: 30px;
  height: 22px;
  border: 2px solid #161616; */
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 32px;
  min-width: 40px;
  min-height: 28px;
  border: none;
  color: #e2d185;
  border: 1.5px solid #066163;
  background: #6a6a6a;
  transition: background-color 0.17s ease, color 0.17s ease;
}

.list-icons:hover,
.add-button:hover {
  cursor: pointer;
}

.add-button:hover {
  background-color: #cdbe78;
  color: #303030;
}

.empty-list h2 {
  text-align: center;
}

.watch-list h3 {
  width: 50%;
  margin: auto;
}

.input-text {
  font-weight: bold;
}

.button-container button {
  margin: 0 2px;
  color: #e2d185;
  border: none;
  background: #6a6a6a;
  padding: 4px;
  border-radius: 2px;
}

.button-container button:hover {
  color: #066163;
  background: #e2d185;
}
